---
import WhatNext from "../../components/WhatNext.astro";
import Layout from "../../layouts/Main.astro";
---

<Layout>
  <main class="page">
    <section class="section">
      <h1 class="heading-primary">Thanks!</h1>
      <p class="typography-primary">
        If this were a real form you would be signed up.
      </p>
    </section>
    <hr class="divider" />
    <WhatNext />
  </main>
</Layout>
