---
import Layout from "../../layouts/Main.astro";
import WhatNext from "../../components/WhatNext.astro";
---

<Layout>
  <main class="page">
    <section class="section">
      <h1 class="heading--primary">Form submitted</h1>
      <p class="typography--primary">
        If this were a real form, your message would have been submitted.
      </p>
    </section>
    <hr class="page__divider" />
    <WhatNext />
  </main>
</Layout>
